body {
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #111111;
}
 @font-face {font-family:"STARWARS";src:url("/fonts/SW/STARWARS.eot?") format("eot"),url("/fonts/SW/STARWARS.woff") format("woff"),url("/fonts/SW/STARWARS.ttf") format("truetype"),url("/fonts/SW/STARWARS.svg#STARWARS") format("svg");font-weight:normal;font-style:normal;}
h1 {
  font-family: STARWARS;
  color: white;
}
